@model AboutUs

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,LibraryProject

@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="layout-content-body">
    <div class="row gutter-xs">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions">
                        <button type="button" class="card-action card-toggler" title="Collapse"></button>
                        <button type="button" class="card-action card-reload" title="Reload"></button>
                        <button type="button" class="card-action card-remove" title="Remove"></button>
                    </div>
                    <strong>@ViewBag.Title</strong>
                </div>

                <div class="card-body">
                    <div class="modal-body form-horizontal">
                            <div class="col-xs-12 col-md-12">
                                <div class="md-form-group md-label-floating">
                                    @Html.TextBoxFor(model => model.Title1, new { @class = "md-form-control", type = "text", spellcheck = "false" })
                                    @Html.LabelFor(model => model.Title1, new { @class = "md-control-label" })
                                    <span class="has-error md-help-block valError">@Html.ValidationMessageFor(model => model.Title1)</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Title2" class="col-lg-2 col-sm-2 control-label"></label>
                                <div class="col-lg-4">
                                    <input asp-for="Title2" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Title3" class="col-lg-2 col-sm-2 control-label"></label>
                                <div class="col-lg-4">
                                    <input asp-for="Title3" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Title4" class="col-lg-2 col-sm-2 control-label"></label>
                                <div class="col-lg-4">
                                    <input asp-for="Title4" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Image" class="col-lg-2 col-sm-2 control-label"></label>
                                <div class="col-lg-4">
                                    <input id="files" type="file" name="files" multiple class="btn btn-danger" />
                                </div>
                                @if (!String.IsNullOrEmpty(Model.Id))
                                {
                                    <input type="hidden" name="ImgName" value="@Model.Image" />
                                }
                            </div>

                            <div class="form-group hidden">
                                <input asp-for="Id" class="form-control" />
                            </div>
                    </div>
                    @if (String.IsNullOrEmpty(Model.Id))
                    {
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>
                            <input type="button" id="submitData" class="btn btn-success" value="افزودن" />
                        </div>
                    }
                    else
                    {
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>
                            <input type="button" id="submitData" class="btn btn-info" value="ویرایش" />
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/modal-js/Slider-indx.js"></script>

    <script>
        $(document).on('click',
            '#submitData',
            function(e) {
                e.preventDefault();

                var fileUpload = $('#files').get(0);
                var files = fileUpload.files;

                var data = new FormData();

                for (var i = 0; i < files.length; i++) {
                    data.append('files', files[i]);
                }

                //--------------------------------------
                $('input,select').each(function(x,y) {
                    data.append($(y).attr('name'),$(y).val());
                });

                //--------------------------------------

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("AddEditSlider","Slider", new {area = "Admin"})',
                    contentType: false,
                    processData: false,
                    data: data
                }).done(function(res) {
                    if (res.status === 'success') {
                        alert(res.message);
                        window.location.href = '@Url.Action("Index", "Slider")';
                    } else {
                        $.each(res.error,
                            function(a, b) {
                                alert(b);
                            });
                    }
                }).fail(function(xhr, b, error) {
                    alert(error);
                });
            });
    </script>
}



